/* Fontes */

@font-face {
    font-family: 'Mango';
    src: url('./assets/fonts/MangoGrotesque-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Mango';
    src: url('./assets/fonts/MangoGrotesque-Bold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Mango';
    src: url('./assets/fonts/MangoGrotesque-ExtraBold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Mango';
    src: url('./assets/fonts/MangoGrotesque-Medium.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Mango';
    src: url('./assets/fonts/MangoGrotesque-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Mango';
    src: url('./assets/fonts/MangoGrotesque-SemiBold.ttf') format('truetype');
    font-weight: 400;
}

/* Cores */
:root {
    --bege: #FFF6C3;
    --vermelho-fundo: #320D01;
    --vermelho-fonte: #6F0000;
    --amarelo: #AB6900;
    --amarelo-hover: #593700
}

/* Geral */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Header */

.navbar.navbar-expand-lg {
    background-color: var(--bege);
    display: flex;
}

.collapse.navbar-collapse {
    background-color: var(--bege);
    justify-content: center;
    padding-left: 7rem;
}

.nav-link {
    color: var(--amarelo);
    font-family: 'Mango';
    font-weight: 600;
    font-size: 2rem;
    padding: 0px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--amarelo-hover);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

i {
    justify-content: right;
    margin-right: 1rem;
}

i:hover {
    color: var(--amarelo-hover) !important;
}

/* Hero */

.hero {
    height: 100vh;
    background: linear-gradient(#FFF6C3 85%, #320D01); 
    display: flex;
    position: relative;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
}

/* Hero - imagem */

.arm {
    bottom: 0;
    right: 0;
    z-index: 100;
    position: absolute;
}

.arm-vinyl {
    width: 63rem;
}

/* Hero - textos */

.title {
    display: flex;
    flex-direction: row;
    color: var(--vermelho-fonte);
    width: 100%;
    margin-bottom: -100px;
}

.echoes {
    font-family: 'Mango';
    font-weight: 700;
    font-size: 20rem;
}

.discos {
    font-family: 'Mango';
    font-weight: 700;
    font-size: 20rem;
    margin-left: auto;
}

.desc {
    font-family: 'Mango';
    font-weight: 600;
    font-size: 2.3rem;
    margin-left: auto;
    margin-left: auto;
    color: black;
}

/* Hero - botão */

.button {
    width: 300px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    margin-bottom: auto;
    transition: transform 0.3s ease;
}

.btn {
    font-family: 'Mango';
    font-weight: 500;
    font-size: 2.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.button:hover {
    transform: scale(1.1);
}

/* Em Alta - carrossel */

#customCarousel {
  height: 100vh;
  transition: background-color 0.5s ease;
}

.carousel-item {
  height: 100vh;
}

.carousel-content {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Em Alta - carrossel - texto de fundo */

.bg-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10rem;
  font-weight: bold;
  color: black;
  opacity: 0.08;
  z-index: 1;
}

/* Em Alta - carrossel - disco central */

.disco-principal {
  position: absolute;
  width: 320px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* Em Alta - carrossel - previews */

.side-preview {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 220px;
  height: 220px;
  overflow: hidden;
  opacity: 0.3;
  z-index: 2;
}

.side-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.side-preview.left {
  left: -110px;
}

.side-preview.right {
  right: -110px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}